html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 80px auto auto auto auto;
}

.container > div, header {
    font-size: 1em;
    padding: 10px 20px;
}

.header {
    grid-column: 1 / -1; 
    display: flex;
}

header > .nav-bar {
    margin-left: auto;
    display: flex;
}

header > .nav-bar > .logo {
    text-align: start;
    padding: 10px 20px;
}

.nav-link {
    padding: 10px 20px;
}

.nav-link  a{
    text-decoration: none;
    color: black;
}

.nav-link  a:hover {
    text-decoration: none;
    color: blue;
}

.content {
    grid-column: 1 / -1;
    max-height: 700px;
    min-height: 500px;
}

.hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr); 
    min-height: 500px;
}

.hero-text {
    grid-column: 2 / 6;
    font-size: 4rem;
    align-self: center;
}

.app-image {
    grid-column: 7/ 12;
    align-self: end;
}

.features {
    display: grid;
    grid-column: 1 / -1;
    min-height: auto;
}

.features .trusted{
    display: grid;
    grid-gap: 30px;
    padding-top: 3rem; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 3rem 3rem;
    grid-column: 1 / -1;
}

.features .trusted h4 {
    grid-column: 3;
    justify-self: center;
} 
.features .trusted .partner{
    grid-row: 2;
    justify-self: center;
}

.features .feature-header {
    padding-top: 6rem;
    justify-self: center;
}

.features .feature-header h2 {
    font-size: 3rem;
    text-align: center;
}

.features .feature-header p {
    font-size: 1.2rem;
    color: grey;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 4rem;
}

.features .feature-header .clip {
    text-align: center;
}

.features .small-features {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 4rem;
}

.features .small-features .item-1 {
    grid-column: 3/5;
}


.features .small-features .item-2 {
    grid-column: 6/8;
}


.features .small-features .item-3 {
    grid-column: 9/11;
}

.icon {
    width: 3rem;
    height: 3rem;
    background: rgba(83, 91, 254, 0.05) !important;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 1.5rem;
}

.small-features p {
    color: grey;
}

.icon::after {
    background-color: #535BFE;
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
}

.pricing {
    display: flex;
    flex-wrap: wrap;
    grid-column: 1 / -1;
    min-height: auto;
    justify-content: center;
}

.pricing-header {
    width: 100%;
    font-size: 3rem;
    justify-self: center;
    text-align: center;
    padding-bottom: 1rem;
}

.card {
    width: 300px;
    text-align: center;
    margin: auto;
    border: 1px solid #535BFE; 
    border-radius: 10px; 
}

.card-header {
    background: rgba(83, 91, 254, 0.05) !important;
    margin: 0px;
    padding: 1rem;
    color: #535BFE;
}

.card-price {
    font-weight: 900;
    font-size: 2rem;
}

ul {
    list-style-type: none;
    padding-left: 5rem;;
}

li {
    text-align: left;
}

button {
    color: #535BFE;
    padding: 1rem;
    background: rgba(83, 91, 254, 0.05) !important;
    border-radius: 10px;
    margin: 1rem 0;
    width: 10rem;
}



.footer {
    display: grid;
    grid-column: 1 / -1;
    background-color: beige;
    min-height: 5rem;
}